@model List<Bookstore.Models.Domain.Book>
@{
    ViewData["Title"] = "Books";
}
@*@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor*@
 
@*@{
    Layout = null;
}*@

<h1>Books</h1>

<form method="get" action="/Books/Index" class="input-group mb-3">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Title to search">
    <input class="btn btn-outline-secondary" type="submit" value="search" />
    <a class="btn btn-outline-secondary" asp-action="Index">Back to full list</a>
</form>

@*<p>
    @if (!String.IsNullOrEmpty(@Accessor.HttpContext.Session.GetString("ErrorMessage")))
    {
        @Accessor.HttpContext.Session.GetString("ErrorMessage")
    }
</p>*@

<table class="table">
    <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th> </th>
            </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>
                    @if (@book.ReservedBy != Guid.Empty) {
                        <span class="text-warning">RESERVED</span>
                    }
                    @if (@book.ReservedBy == Guid.Empty) {
                        <a asp-controller="Books" asp-action="Reserve" asp-route-id="@book.Id">Reserve Book</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>